@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #ffffff;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    //outline: 1px solid red;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5% 
}

body {
    background-color: var(--body-color);
    transition: background .3s;
    font-family: 'Poppins', sans-serif;
}

.dark-theme {
    --body-color: #0a0a0a;
    --nav-color: #1b1a1a;
    --bg-color: #272424;
}