//Navigation
.nav {
    background-color: #1876f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 5%; 
}

.logo {
    width: 160px;
    margin-right: 45px;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.list {

    &__item {
        list-style: none;
        display: inline-block;
    }

    &__img {
        width: 28px;
        margin: 0 1.5rem;
    }
}

.search-box {

}

.nav-user {
    &__img {
        width: 4rem;
        border-radius: 50%;
        cursor: pointer;
    }
}

.search-box {
    background-color: #efefef;
    width: 35rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}